
<div class="p-10 px-16 mt-2 sm:px-20 sm:mt-10 sm:px-10 md:px-32 md:mt-16">
    <p class="text-5xl py-5">&lt;<span class="font-semibold text-emerald-500">About Me</span>/&gt;</p>
    <div class="space-y-5">
        <h2 class="text-[20px] tracking-wide">Hi, I’m <span class="text-emerald-500">Deniel Dimpas Ybanez</span>, a aspiring web developer,
            third-year college student and freelancer, 
            based in Consolacion, Cebu, Philippines.
            with a focus on creating applications using JavaScript, PHP, and Laravel and 
            I am actively refining my skills in back-end development, 
            particularly with Laravel and currently learning React JS.
            My goal is to build websites 
            that are both highly functional and visually appealing, 
            ensuring a great user experience every time and I start my coding journey in 2022 until now.
        </h2>
        <h2 class="text-[20px] tracking-wide">
            While I’m enthusiastic about programming, I also have a strong interest in cars and gaming. 
            In my spare time, I enjoy playing  League of Legends ,Valorant, osu and more.
        </h2>
        <hr class="mt-10 border-t-2">
        <div class="">
            <p class="text-3xl py-5">&lt;<span class="font-semibold text-emerald-500">Tech Stack</span>/&gt;</p>
            <div class="flex flex-wrap justify-center gap-3">
                <div class="flex items-center px-4 py-2 rounded-lg">
                    <img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black" alt="JavaScript">
                </div>
                <div class="flex items-center px-4 py-2 rounded-lg">
                    <img src="https://img.shields.io/badge/PHP-777BB4?style=for-the-badge&logo=php&logoColor=white" alt="PHP">
                </div>
                <div class="flex items-center  px-4 py-2 rounded-lg">
                    <img src="https://img.shields.io/badge/Laravel-FF2D20?style=for-the-badge&logo=laravel&logoColor=white" alt="Laravel">
                </div>
                <div class="flex items-center  px-4 py-2 rounded-lg">
                    <img src="https://img.shields.io/badge/React-61DAFB?style=for-the-badge&logo=react&logoColor=black" alt="React">
                </div>
                <div class="flex items-center  px-4 py-2 rounded-lg">
                    <img src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" alt="HTML5">
                </div>
                <div class="flex items-center  px-4 py-2 rounded-lg">
                    <img src="https://img.shields.io/badge/Tailwind_CSS-38B2AC?style=for-the-badge&logo=tailwindcss&logoColor=white" alt="Tailwind CSS">
                </div>
                <div class="flex items-center px-4 py-2 rounded-lg">
                    <img src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&logo=bootstrap&logoColor=white" alt="Bootstrap">
                </div>
                <div class="flex items-center px-4 py-2 rounded-lg">
                    <img src="https://img.shields.io/badge/MySQL-4479A1?style=for-the-badge&logo=mysql&logoColor=white" alt="MySQL">
                </div>
                <div class="flex items-center  px-4 py-2 rounded-lg">
                    <img src="https://img.shields.io/badge/Git-F05032?style=for-the-badge&logo=git&logoColor=white" alt="Git">
                </div>
                <div class="flex items-center  px-4 py-2 rounded-lg">
                    <img src="https://img.shields.io/badge/VSCode-007ACC?style=for-the-badge&logo=visual-studio-code&logoColor=white" alt="VSCode">
                </div>
                <div class="flex items-center  px-4 py-2 rounded-lg">
                    <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white" alt="GitHub">
                </div>
            </div>
        </div>
        <div class="flex justify-center py-5">
            <a href="projects.html" class="block bg-emerald-700 pb-[6px] rounded-lg">
                <button class="bg-emerald-500 rounded-lg px-2 font-semibold py-2 active:translate-y-[1px]">View all my Projects</button>
            </a>
        </div>
        
    </div>
</div>
