<div class="sm:mx-[1vh] lg:mx-[14vh]">
    <div class="p-10 px-16 mt-5 sm:px-20 sm:mt-10 sm:p-0 md:px-7 md:p-5 md:mt-16">
        <p class="text-[30px] md:text-5xl py-5">&lt;<span class="font-semibold text-emerald-500">About Me</span>/&gt;</p>
        <div class="space-y-5">
            <h2 class="text-[15px] md:text-lg tracking-wide">Hi, I’m <span class="text-emerald-500">Deniel Dimpas Ybanez</span>, a aspiring web developer,
                third-year college student and freelancer, 
                based in Consolacion, Cebu, Philippines.
                with a focus on creating applications using JavaScript, PHP, and Laravel and 
                I am actively refining my skills in back-end development, 
                particularly with Laravel and currently learning React JS.
                My goal is to build websites 
                that are both highly functional and visually appealing, 
                ensuring a great user experience every time and I start my coding journey in 2022 until now.
            </h2>
            <h2 class="text-[15px] md:text-lg tracking-wide">
                While I’m enthusiastic about programming, I also have a strong interest in cars and gaming. 
                In my spare time, I enjoy playing  League of Legends ,Valorant, osu and more.
            </h2>
            <hr class="mt-10 border-t-2">
            <div>
                <p class="text-3xl py-5">&lt;<span class="font-semibold text-emerald-500">Recommendations</span>/&gt;</p>
                <p>wala pa hehe</p>
            </div>
            <div>
                <p class="text-3xl py-5">&lt;<span class="font-semibold text-emerald-500">Tech Stack</span>/&gt;</p>
                <div id="icons" class="flex flex-wrap justify-center gap-6"></div>
            </div>
            <div class="flex justify-center py-5">
                <a href="projects.html">
                    <button class="custom-button px-3 py-[7.5px] text-md font-bold bg-emerald-500 rounded-full focus:outline-none">
                        View all my Projects
                    </button>
                </a>
            </div>
            
        </div>
    </div>        
</div>