<div class="sm:mx-[1vh] lg:mx-[14vh]">
    <div class="p-10 px-16 mt-5 sm:px-20 sm:mt-10 sm:p-0 md:px-7 md:p-5 md:mt-16">
        <div class="flex flex-col justify-center">
            <h1 class="text-3xl md:text-5xl font-bold py-2">Hi there!,</h1>
            <h1 class="text-3xl md:text-5xl font-bold">I am <span class="text-emerald-500">Denshoo</span></h1>
        </div>
        <div class="social-links">
            
        </div>
        <div class="py-5 sm:py-7 md:py-10">
            <h3 class="text-[15px] md:text-lg">I’m a passionate and aspiring web developer based in Consolacion, Cebu, Philippines.
                Currently, I'm focusing on building dynamic and interactive websites with a strong emphasis on front-end development. 
                While my primary expertise lies in front-end technologies, I’m dedicated to continuous learning and growth, 
                and I always keep navigating the web to learn more and stay up-to-date with the latest trends and technologies.
            </h3>
        </div>
        <div class="flex justify-center py-5">
            <a href="about.html">
                <button class="custom-button px-3 py-[7.5px] text-md font-bold bg-emerald-500 rounded-lg focus:outline-none">
                    Read More About Me
                </button>
            </a>
        </div>
        
    </div>
</div>